body{
    margin: 0;
    padding: 0;
}
.container{
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
}
.title{
    display: flex;
    height: 20vh;
    flex-basis: 100%;
}
.main{
    display: flex;
    height: 80vh;
    flex-basis: 100%;
}
    .left{
        display: flex;
        flex-wrap: wrap;
        height: 80vh;
        justify-content: space-around;
        align-items: center;
        flex-basis: 25%;
    }
        a{
            display: flex;
            border: black 1px solid;
            border-radius: 10px;
            justify-content: center;
            align-items: center;
            flex-basis: 51%;
            height: 10vh;
            background-color: aqua;
        }
    .right{
        display: flex;
        height: 80vh;
        flex-basis: 75%;
    }
        .ins{
            display: flex;
            justify-content: center;
            align-items: center;
            height: 80vh;
            flex-basis: 50%;
        }
        .tabela{
            display: flex;
            justify-content: center;
            align-items: center;
            height: 80vh;
            flex-basis: 50%;
        }
            .tabelka{
                
            }